pre,
.pre {
  overflow: scroll;
}

pre code {
  display: block;
  padding: 1.5em;
  white-space: pre;
  font-size: 0.875rem;
  line-height: 2;
}

pre {
  background-color: #222;
  color: #ddd;
  white-space: pre;
  hyphens: none;
  position: relative;
}
