.post {
  margin: 2rem 0;
  line-height: 1.5;
}

.post__header {
  margin: 1rem 0;
}

.post__title {
  font-size: 1.5rem;
  margin: 0;

  & a {
    text-decoration: none;
    display: inline-block;
  }
}

.post__date {
  font-size: 1rem;
}

.post__full-post-link {
  margin: 1rem 0;
}
